
/* CUSTOM PROPERTIES */
:root {
    /* Constants for Base font size (fluid) */
    --fs-base: 16px;
    --fs-factor-min: 1.2;
    --fs-factor-max: 1.333;
    --sp-factor: 1rem;
    --lh-min: 1.2;
    --lh-max: 1.5;
    /* Derived font sizes (min)*/
    --fs-400-min: var(--fs-base);
    --fs-500-min: calc(var(--fs-400-min) * var(--fs-factor-min));
    --fs-600-min: calc(var(--fs-500-min) * var(--fs-factor-min));
    --fs-700-min: calc(var(--fs-600-min) * var(--fs-factor-min));
    --fs-800-min: calc(var(--fs-700-min) * var(--fs-factor-min));
    --fs-900-min: calc(var(--fs-800-min) * var(--fs-factor-min));
    --fs-300-min: calc(var(--fs-400-min) / var(--fs-factor-min));
    --fs-200-min: calc(var(--fs-300-min) / var(--fs-factor-min));
    /* Derived font sizes (max)*/
    --fs-400-max: var(--fs-base);
    --fs-500-max: calc(var(--fs-400-max) * var(--fs-factor-max));
    --fs-600-max: calc(var(--fs-500-max) * var(--fs-factor-max));
    --fs-700-max: calc(var(--fs-600-max) * var(--fs-factor-max));
    --fs-800-max: calc(var(--fs-700-max) * var(--fs-factor-max));
    --fs-900-max: calc(var(--fs-800-max) * var(--fs-factor-max));
    --fs-300-max: calc(var(--fs-400-max) / var(--fs-factor-max));
    --fs-200-max: calc(var(--fs-300-max) / var(--fs-factor-max));
    /* Derived font sizes (fluid) */
    --fs-200: clamp(var(--fs-200-min), var(--fs-200-min) + 4vw, var(--fs-200-max));
    --fs-300: clamp(var(--fs-300-min), var(--fs-300-min) + 2vw, var(--fs-300-max));
    --fs-400: clamp(var(--fs-400-min), var(--fs-400-min) + 0vw, var(--fs-400-max));
    --fs-500: clamp(var(--fs-500-min), var(--fs-500-min) + 1vw, var(--fs-500-max));
    --fs-600: clamp(var(--fs-600-min), var(--fs-600-min) + 1.5vw, var(--fs-600-max));
    --fs-700: clamp(var(--fs-700-min), var(--fs-700-min) + 2vw, var(--fs-700-max));
    --fs-800: clamp(var(--fs-800-min), var(--fs-800-min) + 3vw, var(--fs-800-max));
    --fs-900: clamp(var(--fs-900-min), var(--fs-900-min) + 4vw, var(--fs-900-max));
    /* Derived spacings */
    --sp-200: calc(var(--sp-factor) * 0.5);
    --sp-300: calc(var(--sp-factor) * 0.75);
    --sp-400: calc(var(--sp-factor) * 1);
    --sp-500: calc(var(--sp-factor)* 2);
    --sp-600: calc(var(--sp-factor)* 3);
    --sp-700: calc(var(--sp-factor)* 4);
    --sp-800: calc(var(--sp-factor)* 5);
    --sp-900: calc(var(--sp-factor)* 6);
    /* Font family */
    --ff-normal: 'Comfortaa', sans-serif;
}
/* RESET */
/* Set rem */
html, body {
    font-size: var(--fs-400);
    word-break: break-word;
    font-family: var(--ff-normal);
    color: #fffff5;
}
/* Border box */
*, *::before, *::after {
    box-sizing: border-box;
}
/* Remove margins, paddings and setting default font-weight */
body, h1, h2, h3, h4, h5, p, button, textarea, caption, section {
    margin: 0;
    padding: 0;
}
/* Form elements reset */
input, button, textarea {
    font-family: inherit;
    font-size: inherit;
}
/* Setting font sizes */
p, form, nav, footer, header {
    font-size: var(--fs-400);
    line-height: var(--lh-max);
}
* > * + p {
    margin-top: var(--sp-400);
}
h5 {
    font-size: var(--fs-500);
    line-height: var(--lh-max);
}

h4 {
    font-size: var(--fs-600);
    line-height: var(--lh-max);
}

h3 {
    font-size: var(--fs-700);
    line-height: var(--lh-min);
}

h2 {
    font-size: var(--fs-800);
    line-height: var(--lh-min);
}

h1 {
    font-size: var(--fs-900);
    line-height: var(--lh-min);
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

/* Styling classes */
.container {
    height: 100vh;
    width: 100%;
    background-color: #192e46;
    position: relative;
}

.container #scene-canvas {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    inset: 0;
    transition: opacity 3s linear;
    opacity: 0;
    cursor: grab;
}

.container #scene-canvas:active {
    cursor: grabbing;
}

.container #scene-canvas.visible {
    opacity: 1;
}

.container #loading-screen {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.hover-on-top {
    z-index: 999 !important;
}

.container #content {
    z-index: 3;
    position: absolute;
}

.container #content #move-around-icon {
    position: fixed;
    top: 12px;
    right: 12px;
    height: 42px;
}

.container #content footer {
    position: fixed;
    transform: translate(-50%, 0);
    bottom: 32px;
    left: 50vw;
    width: 90%;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container #content footer #view-on-github-link {
    grid-column: 2 / 3;
}

.container #content footer #view-on-github-link #view-on-github-btn {
    border: 2px solid #fffff5;
    border-radius: 12px;
    padding: 8px 12px;
    font-weight: 600;
    cursor: pointer;
}

.container #content footer #socials-container {
    grid-column: 3 / 4;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    width: 100%;
}

@media (max-width: 576px){
    .container #content footer #view-on-github-link {
        grid-column: 1 / 3;
        justify-self: flex-start;
    }

    .container #content footer #view-on-github-link #view-on-github-btn {
        padding: 8px;
        font-size: var(--fs-300);
        word-break: keep-all;
    }

    .container #content footer #socials-container {
        gap: 16px;
    }
}